<div class="row">
  <div class="col">
    <h1><%= t('.header', title: @badge.name) %></h1>

    <p><strong><%= Badge.human_attribute_name(:name) %>:</strong> <%= @badge.name %></p>
    <p><strong><%= Badge.human_attribute_name(:badge_type) %>:</strong> <%= @badge.badge_type %></p>
    <% if @badge.category %>
      <p><strong><%= Badge.human_attribute_name(:category_id) %>:</strong> <%= @badge.category.title %></p>
    <% end %>
    <% if @badge.level %>
      <p><strong><%= Badge.human_attribute_name(:level) %>:</strong> <%= @badge.level %></p>
    <% end %>

    <div class="btn-group" role="group" >
      <%= link_to t('general.edit'), edit_admin_badge_path(@badge), role: 'button', class: 'btn btn-outline-dark btn-sm' %>
      <%= link_to t('general.back'), admin_badges_path, role: 'button', class: 'btn btn-outline-dark btn-sm' %>
      <%= link_to t('general.back_to_all_tests'), admin_tests_path, role: 'button', class: 'btn btn-outline-dark btn-sm' %>
    </div>
  </div>
</div>