<tr>
  <th scope="row" class="text-left"><%= badge.name %></th>
  <td><%= t("activerecord.values.badge.badge_type.#{badge.badge_type}") %></td>
  <td><%= badge.category&.title %></td>
  <td><%= badge.level %></td>
  <td><%= badge.first_time(current_user) %></td>
</tr>