<tr>
  <th scope="row" class="text-left"><%= badge.name %></th>
  <td><%= badge.badge_type.name %></td>
  <td><%= badge.category&.title %></td>
  <td><%= badge.level %></td>
  <td><%= badge.first_time(current_user) %></td>
</tr>