<div class="row">
  <div class="col">
    <h1><%= t('.header') %></h1>

    <table class="table table-sm text-center">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="sort-by-title pointer">
            <%= Badge.human_attribute_name(:name) %>
            <%= octicon 'arrow-up', class: 'text-success hide' %>
            <%= octicon 'arrow-down', class: 'text-success hide' %>
          </th>
          <th scope="col"><%= BadgeType.model_name.human %></th>
          <th scope="col"><%= Category.model_name.human %></th>
          <th scope="col"><%= Badge.human_attribute_name(:level) %></th>
          <th scope="col"><%= UserBadge.human_attribute_name(:created_at) %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @badges %>
      </tbody>
    </table>
  </div>
</div>