<h1>Passing the <%= @test_attempt.test.title %> Test</h1>

<h2>
  Question <%= @test_attempt.current_question_index %> of <%= @test_attempt.test.questions.count %>.
</h2>

<b><%= @test_attempt.current_question.body %></b>

<%= form_with url: test_attempt_path(@test_attempt), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_attempt.current_question.answers, :id, :text, include_hidden: false do |b| %>
	<p>
	  <%= b.check_box id: "answer_ids_#{b.object.id}" %>
	  <%= b.label %>
	</p>
  <% end %>
  
  <p><%= form.submit 'Next' %></p>
<% end %>