<div class="row">
  <div class="col">
    <h1><%= t('.header', title: @test_attempt.test.title) %></h1>

    <%= content_tag :div, class: 'progress-bar bg-secondary' do %>
      <%= content_tag :div, nil, class: 'progress-bar-line bg-success pt-4', 
        data: { current: @test_attempt.current_question_index - 1, total: @test_attempt.test.questions.count } %>
    <% end %>

    <% if @test_attempt.test.timer > 0 %>
      <p>
        <%= t('.time_left') %>: <%= content_tag :span, @test_attempt.end_time.to_f * 1000, class: 'timer hide' %>
      </p>
    <% end %>

    <h2><%= t('.question_header', current: @test_attempt.current_question_index, total: @test_attempt.test.questions.count) %>.</h2>
    <strong><%= @test_attempt.current_question.body %></strong>

    <%= form_with url: test_attempt_path(@test_attempt), local: true, method: :put, class: "test-attempt-form" do |form| %>
      <div class="form-group mb-0">

        <%= form.collection_check_boxes :answer_ids, @test_attempt.current_question.answers, :id, :text, include_hidden: false do |b| %>
          <div class="form-check">
        	  <%= b.check_box id: "answer_ids_#{b.object.id}", class: "form-check-input" %>
        	  <%= b.label class: "form-check-label" %>
          </div>
        <% end %>

        <div class="btn-group" role="group" >
          <%= form.submit t('.next'), class: "btn btn-outline-dark btn-sm" %>
          <%= link_to t('.gist'), gist_test_attempt_path(@test_attempt), role: 'button', class: 'btn btn-outline-dark btn-sm', method: :post %>
        </div>
      </div>
    <% end %>
  </div>
</div>