<div class="row">
  <div class="col">
    <h1><%= Question.model_name.human %> <%= @answer.question.test.title %></h1>

    <p><strong><%= Question.model_name.human %>:</strong> <%= @answer.question.body %></p>
    <p><strong><%= Answer.model_name.human %>:</strong> <%= @answer.text %></p>
    <p><strong><%= Answer.human_attribute_name(:correct) %>:</strong> <%= t(@answer.correct ? 'general.yes' : 'general.no') %></p>

    <div class="btn-group" role="group" >
      <%= link_to t('general.back'), admin_question_path(@answer.question), role: 'button', class: 'btn btn-outline-dark btn-sm' %>
    </div>
  </div>
</div>