<tr>
  <th scope="row" class="text-left"><%= test.title %></th>
  <td><%= test.level %></td>
  <td><%= test.category.title %></td>
  <td><%= test.questions.count %></td>
  <td class="w-25">
    <div class="btn-group" role="group" >
      <%= link_to t('general.show'), admin_test_path(test), role: 'button', class: 'btn btn-outline-dark btn-sm' %>
      <%= link_to t('general.edit'), edit_admin_test_path(test), role: 'button', class: 'btn btn-outline-dark btn-sm' %>
      <%= link_to t('general.delete'), admin_test_path(test), role: 'button', class: 'btn btn-outline-dark btn-sm', method: :delete, data: { confirm: t('general.are_you_sure?') } %>
    </div>
  </td>
</tr>