<div class="row">
  <div class="col">
    <h1><%= t('.header') %></h1>

    <%= render 'shared/errors', resource: @test %>

    <table class="table table-sm text-center">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="sort-by-title pointer">
            <%= Test.human_attribute_name(:title) %>
            <%= octicon 'arrow-up', class: 'text-success hide' %>
            <%= octicon 'arrow-down', class: 'text-success hide' %>
          </th>
          <th scope="col"><%= Test.human_attribute_name(:level) %></th>
          <th scope="col"><%= Test.human_attribute_name(:category_id) %></th>
          <th scope="col"><%= Question.model_name.human(count: 9) %></th>
          <th scope="col"><%= t('general.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @tests %>
      </tbody>
    </table>

    <div class="btn-group" role="group" >
      <%= link_to t('.new_test'), new_admin_test_path, role: 'button', class: 'btn btn-outline-dark btn-sm' %>
      <%= link_to t('.gists'), admin_gists_path, role: 'button', class: 'btn btn-outline-dark btn-sm' %>
    </div>
  </div>
</div>