<div class="row">
  <div class="col">
    <h1><%= t('.header', title: @test.title) %></h1>

    <p><strong><%= Test.human_attribute_name(:title) %>:</strong> <%= @test.title %></p>
    <p><strong><%= Test.human_attribute_name(:level) %>:</strong> <%= @test.level %></p>
    <p><strong><%= Test.human_attribute_name(:category_id) %>:</strong> <%= @test.category.title %></p>
    <% if @test.timer > 0 %>
      <p><strong><%= Test.human_attribute_name(:timer) %>:</strong> <%= minutes(@test.timer) %></p>
    <% end %>

    <table class="table table-sm text-center">
      <thead class="thead-light">
        <tr>
          <th scope="col"><%= Question.model_name.human %></th>
          <th scope="col"><%= t('general.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @questions %>
      </tbody>
    </table>

    <div class="btn-group" role="group" >
      <%= link_to t('.new_question'), new_admin_test_question_path(@test), role: 'button', class: 'btn btn-outline-dark btn-sm' %>
      <%= link_to t('.edit_test'), edit_admin_test_path(@test), role: 'button', class: 'btn btn-outline-dark btn-sm' %>
      <%= link_to t('general.back_to_all_tests'), admin_tests_path, role: 'button', class: 'btn btn-outline-dark btn-sm' %>
    </div>
  </div>
</div>