<p>
  <hr>
  <%= t('general.project_author') %>, <%= current_year %><br>
  <%= link_to t('general.project_name_short'), github_url('aivakhnenko', 'test_guru') %> &mdash; <%= t('general.project_description_short') %><br>
  <%= link_to t('general.project_description_long'), 'http://thinknetica.com/' %>
</p>